/* 文章目录放在侧边的css 开始 */
:root {
    --nav-width: 1380px;
    --article-width: 850px;
    --toc-width: 400px;
}

.toc {
    margin: 0 2px 40px 2px;
    border: 1px solid var(--border);
    background: var(--entry);
    border-radius: var(--radius);
    padding: 0.4em;
}

.toc-container.wide {
    position: absolute;
    height: 100%;
    border-right: 1px solid var(--border);
    left: calc((var(--toc-width) + var(--gap)) * -1);
    top: calc(var(--gap) * 2);
    width: var(--toc-width);
}

.wide .toc {
    position: sticky;
    top: var(--gap);
    border: unset;
    background: unset;
    border-radius: unset;
    width: 100%;
    margin: 0 2px 40px 2px;
}

.toc details summary {
    cursor: zoom-in;
    margin-inline-start: 20px;
    padding: 12px 0;
}

.toc details[open] summary {
    font-weight: 500;
}

.toc-container.wide .toc .inner {
    margin: 0;
}

.active {
    font-size: 110%;
    font-weight: 600;
}

.toc ul {
    list-style-type: circle;
}

.toc .inner {
    margin: 0 0 0 20px;
    padding: 0px 15px 15px 20px;
    font-size: 16px;
}

.toc li ul {
    margin-inline-start: calc(var(--gap) * 0.5);
    list-style-type: none;
}

.toc li {
    list-style: none;
    font-size: 0.95rem;
    padding-bottom: 5px;
}

.toc li a:hover {
    color: var(--secondary);
}

/* 文章目录放在侧边的css 结束 */

.paginav {
  margin-bottom: 45px;
}

h1 {
    color: #FF69B4; /* H2 中間 → 粉紅色 (HotPink) */
}

h2 {
    
     color: #9370DB; /* H1 最大 → 紫色 (MediumPurple) */

    
}

h3 {
    color: #1e90ff; /* H3 最小 → 藍色 (DodgerBlue) */
}

h4 {
     color: #1e90ff; /* H3 最小 → 藍色 (DodgerBlue) */
}

h5 {
     color: #1e90ff; /* H3 最小 → 藍色 (DodgerBlue) */
}

h6 {
     color: #1e90ff; /* H3 最小 → 藍色 (DodgerBlue) */
}


body {
  font-family: 'PT Sans', sans-serif;
  font-size: 0.95rem;
  line-height: 1.6;  /* 更舒适的阅读行距 */
  margin: 0;
}


.footer-powered-by {
    display: none !important;
}
