name: Deploy Hugo site

on:
  push:
    branches:
      - main

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: peaceiris/actions-hugo@v3
        with:
          hugo-version: '0.117.0'
          extended: true

      - name: Build Hugo
        run: hugo --minify

      - uses: actions/deploy-pages@v4
        with:
          folder: public
